@font-face {
  font-family: "CustomFont";
  src: url(./FATPIXEL.TTF);
}
  body,html{
  background-image: url(images/Grass-export.png); 
  font-family: "CustomFont"; 
  color: rgb(6, 61, 45);
  text-shadow: 0 0 4px #f3eeee, 0 0 5px #3c036b ;
  
  
}


h1{
  display:flex;
  justify-content: center;
  align-items: center;
}
ul{
  list-style-type: none;
  display:flex;
  justify-content: space-evenly;
  width:100vw;
}

#container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 1.75rem;
  font-weight: 800;

}