@font-face {
  font-family: "CustomFont";
  src: url(./FATPIXEL.TTF);
}
  body,html{
  background-image: url(images/Grass-export.png); 
  font-family: "CustomFont"; 
  color: rgb(6, 61, 45);
  text-shadow: 0 0 4px #f3eeee, 0 0 5px #3c036b ;
  
  
}


h1{
  display:flex;
  justify-content: center;
  align-items: center;
}
h2{
  display:flex;
  justify-content: center;
  align-items: center;
}
  ul{
  list-style-type: none;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 25em;
  padding: 0;
  border: 1px solid red;
}
li{
  flex: 1 0 auto;
}

#container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 1.75rem;
  font-weight: 800;
  
  

}

button{
  font:inherit;
  font-size: 1em;
  color: rgb(6, 61, 45);
  background-color: transparent;
  border-color: transparent;
  border-radius: 4px;
  text-shadow: 0 0 8px #f3eeee, 0 0 5px #3c036b ;
}